@import "tailwindcss";

@theme inline {
    /* font family */
    --font-inter: var(--inter);
    --font-poppins: var(--poppins);
}

@theme {

    --color-p1: #2EF2FF;
    --color-p2: #3C52D9;
    --color-p3: #C8EA80;
    --color-p4: #EAEDFF;
    --color-p5: #C4CBF5;
    --color-s1: #080D27;
    --color-s2: #0C1838;
    --color-s3: #334679;
    --color-s4: #1959AD;
    --color-s5: #263466;
    --color-black: #000000;
    --color-black-100: #05091D;
    /* shadow */
    --shadow-100: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 16px 24px rgba(0, 0, 0, 0.25), inset 0px 3px 6px #1959AD;
    --shadow-200: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 16px 24px rgba(0, 0, 0, 0.25), inset 0px 4px 10px #3391FF;
    --shadow-300: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 16px 24px rgba(0, 0, 0, 0.25), inset 0px 3px 6px #1959AD;
    --shadow-400: inset 0px 2px 4px 0 rgba(255, 255, 255, 0.05);
    --shadow-500: 0px 16px 24px rgba(0, 0, 0, 0.25), 0px -14px 48px rgba(40, 51, 111, 0.7);

    /* spacing */
    --spacing-1/5: 20%;
    --spacing-2/5: 40%;
    --spacing-3/5: 60%;
    --spacing-4/5: 80%;
    --spacing-3/20: 15%;
    --spacing-7/20: 35%;
    --spacing-9/20: 45%;
    --spacing-11/20: 55%;
    --spacing-13/20: 65%;
    --spacing-15/20: 75%;
    --spacing-17/20: 85%;
    --spacing-19/20: 95%;
    --spacing-22: 88px;
    --spacing-100: 100px;
    --spacing-512: 512px;
    --spacing-330: 330px;
    --spacing-388: 388px;
    --spacing-400: 400px;
    --spacing-440: 440px;
    --spacing-640: 640px;
    --spacing-960: 960px;
    --spacing-1230: 1230px;

    --z-1: 1;
    --z-2: 2;
    --z-4: 4;

    /* line height */
    --leading-12: 48px;
    /* border radius */
    --radius-14: 14px;
    --radius-20: 20px;
    --radius-40: 40px;
    --radius-half: 50%;
    --radius-7xl: 40px;
    /* flex */
    --flex-50: 50%;
    --flex-320: 320px;
    --flex-300: 300px;
    --flex-540: 540px;
    --flex-280: 280px;
    --flex-256: 256px;
    --flex-100: 100%;
}